/.metadata
/RemoteSystemsTempFiles
/Jakarta-Example-Project/.metadata
/Jakarta-Example-Project/Jakarta-Example-Project/.idea
Jakarta-Example-Project/Jakarta-Example-Project/Jakarta-3dPrintingFacility-Project.iml
